.drop-zone {
  height: 200px;
  color: #b59aff;
  background-image: linear-gradient(to right, #b59aff 50%, transparent 50%),
    linear-gradient(to right, #b59aff 50%, transparent 50%), linear-gradient(to bottom, #b59aff 50%, transparent 50%),
    linear-gradient(to bottom, #b59aff 50%, transparent 50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22px;
  padding: 16px;
}

/* Circular cropping in personal photo step */

/* .drop-zone img.personal-pic {
  border-radius: 100px;
  width: 180px !important;
  height: 180px !important;
  object-fit: unset !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */

.drop-zone img {
  object-fit: contain;
}

.dropzone-text,
.custom-texarea {
  width: 100%;
}

.drop-zone div p {
  white-space: nowrap;
}


.drop-zone .drop-img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-image: url(/public/static/img/Navu.jpg);
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}