.drop-zone {
  height: 200px;
  color: #b59aff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22px;
  padding: 16px;
}

/* Circular cropping in personal photo step */
.dropzone-text,
.custom-texarea {
  width: 100%;
}

.drop-zone div p {
  white-space: nowrap;
}

.drop-zone .drop-img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.m-right-5 {
  margin-right: 5px;
}
